<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span class="icon12 minia-icon-close"></span>
	</button>
	<h4 align="left">
		<span class="icon16 icomoon-icon-key"></span>
       	<span>Edition du profil</span>
	</h4>
</div>
