<h1 style="color: #f60; font-weight: bold">APPLICATION SUPER</h1>
<h3 style="color: #222;">{{ body.action }}</h3>

<br>
<br>
	{{ body.content|raw }}
<br>
<br>
<strong>Pour acceder &agrave; Super, <a style="color: #f60" href="{{ body.link }}">cliquez ici </a></strong></a>!