<div class="modal-header test">
	<button type="button" class="close" data-dismiss="modal">
		<span class="icon12 minia-icon-close"></span>
	</button>
	<h4 align="left">
		<span class="icomoon-icon-filter-2"></span>
       	<span>Filtrer Actions</span>
	</h4>
</div>

<script type="text/javascript">
todoAfterAjaxThread.afterSuccesSubmitModal = function(response) {
	$('#myModal .close').click();
	$('#actionTable').dataTable().fnDraw();
}
</script>


