<div id="{{ id }}" title="Confirmer l'action" style="display:none;">
  	<p>
	    {{ content }}
    </p>
</div>

<div id="dialog-activer" title="Confirmer l'activation" style="display:none;">
  	<p>
	    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
	    Vous êtes sur le point d'activer cet utilisateur. Veuillez confirmer l'action !
    </p>
</div>

<div id="dialog-desactiver" title="Confirmer la désactivation " style="display:none;">
  	<p>
	    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
	    Vous êtes sur le point de désactiver cet utilisateur. Veuillez confirmer l'action !
    </p>
</div>